.header{background:#fff;width:100%;z-index:1;position:fixed;left:0;top:0}.header__wrapper{display:flex;align-items:center;justify-content:center}.header__logo-wrapper{padding:10px 40px 10px 0;border-right:3px solid #f0f0f0}.header__logo img{width:195px}.header__lang-selector{height:80px;padding:0 12px 0 24px;font-weight:600;display:flex;align-items:center}@media only screen and (max-width: 1025px){.header{padding:16px 0;margin-bottom:27px}.header__wrapper{justify-content:space-between}.header__logo-wrapper{border:0;padding:0}.header__logo img{width:140px}.header__lang-selector{height:auto;padding:0}}

.demo{margin-top:145px}.demo__wrapper{display:flex;-moz-column-gap:25px;column-gap:25px}.demo__block-1{flex-grow:1.82;flex-basis:0;border-radius:12px;display:flex;flex-direction:column;row-gap:16px}.demo__method{padding:24px;background-color:#fff;border-radius:12px}.demo__method-title{font-size:1.25em;font-weight:500;margin-bottom:28px}.demo__method-currency{display:flex;justify-content:space-between;align-items:center;padding:16px;border:1px solid #4a40c6;border-radius:8px}.demo__method-currency-title{display:flex;align-items:center;-moz-column-gap:12px;column-gap:12px}.demo__method-currency-title-title{font-size:1.125em}.demo__method-currency-info{display:flex;align-items:center;-moz-column-gap:12px;column-gap:12px}.demo__method-currency-price{font-size:1.125em}.demo__method-currency-chain-system{background:#fbfbfb;border:.5px solid #f0f0f0;border-radius:50px;font-weight:500;text-transform:uppercase;font-size:10px;color:#4a40c6;padding:5px 8px}.demo__notification{background-color:#fff;border-radius:12px;font-size:18px;padding:24px}.demo__block-2{display:flex;flex-direction:column;flex-basis:0;flex-grow:1;row-gap:18px;color:#fff}.demo__inv-time{padding:24px;border-radius:12px;background:linear-gradient(120.7deg, #8881e0 -45.07%, #5b40c7 103.41%)}.demo__inv-time-title{font-size:18px;font-weight:500;text-transform:uppercase;margin-bottom:4px}.demo__inv-time-title--alt{display:none}.demo__inv-time-text{font-size:14px}.demo__total{padding:24px;border-radius:12px;background:linear-gradient(120.7deg, #8881e0 -45.07%, #5b40c7 103.41%)}.demo__total button{width:100%;background:#fff;border-radius:90px;color:#5b40c7;font-weight:500;padding:11px 0}.demo__total button:hover{background:#4a40c6;color:#fff;transition:.2s}.demo__total-name{display:block;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-left:25px}.demo__total-name::before{content:url(imgs/64e259f7690b08646be8.svg);position:absolute;top:0px;left:0px}.demo__total-title{font-size:18px;font-weight:500;display:block}.demo__details-total{display:flex;justify-content:space-between;margin:10px 0 23px 0;padding:13px 0;font-weight:500;font-size:18px;border-top:1px #8f80db solid;border-bottom:1px #8f80db solid}.demo__details-note{display:flex;margin-top:12px;font-size:11px;font-weight:500}.demo__details-note::before{content:url(imgs/164f5271a9b7b8246ccf.svg);margin-right:5px}@media only screen and (max-width: 561px){.demo{margin-top:80px}.demo__method{font-size:13px}.demo__notification{font-size:inherit}.demo__notification-text--hidden{display:none}}@media only screen and (max-width: 1025px){.demo{padding-bottom:100px}.demo__wrapper{flex-direction:column;row-gap:16px}.demo__block-1{order:2}.demo__block-2{order:1}.demo__inv-time{padding:10px 0 30px 0;background:#8881e0}.demo__inv-time-title{display:none}.demo__inv-time-title--alt{display:inline-block;font-size:14px;margin-bottom:0}.demo__inv-time-text{text-align:center;font-weight:500}.demo__total{padding:18px;position:relative;top:-40px;margin-bottom:-40px}.demo__total *{font-weight:600}.demo__total-title{display:flex;justify-content:space-between;font-size:14px}.demo__details-total{margin-top:15px;margin-bottom:0;padding-bottom:0;border-bottom:0}.demo__details-button{background:#4a40c6 !important;color:#fff !important}.demo__details-button-wrapper{background:#fff;padding:16px;width:100%;position:fixed;left:0;top:100%;transform:translate(0, -100%)}.demo__details-note{display:none}}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-weight: 300;
  src: url(fonts/Gilroy-Light.woff) format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-weight: 400;
  src: url(fonts/Gilroy-Regular.woff) format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-weight: 500;
  src: url(fonts/Gilroy-Medium.woff) format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-weight: 600;
  src: url(fonts/Gilroy-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  font-weight: 700;
  src: url(fonts/Gilroy-Bold.woff) format("woff");
}

*,*::after,*::before{margin:0;padding:0;box-sizing:border-box;font-family:"Gilroy"}.container{max-width:959px;margin:0 auto;padding:0 12px}body{background:#f3f8f5}@media only screen and (max-width: 1025px){.container{max-width:712px}}@media only screen and (max-width: 769px){.container{max-width:512px}}
