@import "../../App/scss/mixins";

.demo {
    margin-top: 145px;
    &__wrapper {
        display: flex;
        column-gap: 25px;
    }

    &__block-1 {
        flex-grow: 1.8;
        flex-basis: 0;
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    .main-title {
        font-size: em(20);
        font-weight: 500;

        margin-bottom: 28px;
    }
    .main-input-wrapper {
        * {
            font-weight: 300;
        }
        margin-top: 18px;
        border-radius: 6px;
        display: flex;
        border: 1px solid #f0f0f0;
        box-shadow: 0px 5px 10px -5px rgba(15, 15, 15, 0.05);
        padding: 15px;
        legend {
            min-width: em(65);
            padding-right: 15px;
            border-right: 1px solid #f0f0f0;
            display: block;
            white-space: nowrap;
        }
        input {
            padding-left: 15px;
            overflow: hidden;
            text-overflow: ellipsis;

            &::placeholder {
                font-size: em(14);
            }
        }
    }
    &__transactionStatus {
        background-color: #ffffff;
        box-shadow: 0px 15px 30px -10px rgba(60, 60, 60, 0.05);

        padding: 25px;
        padding-left: 50px;

        border: 1px solid #4a40c6;
        border-radius: 12px;

        h2 {
            font-size: 18px;
            font-weight: 400;
        }
        &-note {
            font-size: 11px;
            font-weight: 300;
            color: #777e91;
        }
    }
    &__method {
        padding: 24px;
        background-color: #ffffff;
        border-radius: 12px;
        &-currency {
            display: flex;
            justify-content: space-between;
            align-items: center;

            color: #353945;

            padding: 16px;

            border: 1px solid #4a40c6;
            border-radius: 8px;
        }

        &-currency-title {
            display: flex;
            align-items: center;
            column-gap: 12px;
        }

        &-currency-title-title {
            font-size: em(18);
        }

        &-currency-info {
            display: flex;
            align-items: center;
            column-gap: 12px;
        }

        &-currency-price {
            font-size: em(18);
        }

        &-currency-chain-system {
            background: #fbfbfb;
            border: 0.5px solid #f0f0f0;
            border-radius: 50px;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 10px;
            color: #4a40c6;
            padding: 5px 8px;
        }
    }
    &__requisites {
        border: 1px solid #4a40c6;
        border-radius: 12px;
        padding: 24px;
        background-color: #fff;
        &-wrapper {
            position: relative;
        }

        &-header {
            display: flex;
            align-items: flex-start;
            column-gap: 26px;
        }

        &-qrcode {
            width: 80px;
            &-wrapper {
                padding: 10px 10px 7px 10px;
                border: 1px solid #f0f0f0;
                border-radius: 8px;
                box-shadow: 0px 5px 10px -5px rgba(15, 15, 15, 0.05);
            }
        }
        .main-input-wrapper {
            margin-top: 0;
        }

        &-title {
            max-width: 351px;
        }

        &-title-text {
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;

            margin-top: 7.5px;
        }
        &-details {
            display: flex;
            flex-direction: column;
            row-gap: 19px;
            margin-top: 24px;
        }
        .main-input-copy-icon {
            position: absolute;
            display: block;
            left: 97%;
            transform: translate(-100%, 0);
            &::after {
                content: url("../../../public/images/copy-icon.svg");
            }
        }
    }
    &__transactionDetails {
        background-color: #fff;
        padding: 24px;
        .demo__method-currency {
            border: 1px solid #f0f0f0;
        }
    }
    &__notification {
        background-color: #ffffff;
        border-radius: 12px;
        padding: 24px;
        &-text {
            display: flex;
            align-items: center;
            column-gap: 8px;

            font-size: em(18);
        }
    }

    .slider {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 22px;
    }

    .slider__input {
        display: none;
    }

    .slider__label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        transition: background-color 0.4s;
    }

    .slider__track {
        position: absolute;
        width: 34px;
        height: 16px;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #bfbcdd;
        border-radius: 34px;
        transition: transform background 0.4s 0.2s ease;
    }

    .slider__thumb {
        position: absolute;
        left: 0;
        top: -2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        transition: transform 0.2s;
        border: 2px solid #bfbcdd;
    }

    .slider--on .slider__track {
        background: #4a40c6;
    }
    .slider--on .slider__thumb {
        transform: translateX(16px);
        border-color: #4a40c6;
    }

    &__block-2 {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        flex-grow: 1;
        row-gap: 16px;

        color: #ffff;
    }
    &__inv-time {
        padding: 24px;
        border-radius: 12px;
        background: linear-gradient(120.7deg, #8881e0 -45.07%, #5b40c7 103.41%);
        &-title {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;

            margin-bottom: 4px;
            &--alt {
                display: none;
            }
        }
        &-text {
            font-size: 14px;
        }
    }

    &__total {
        padding: 24px;
        border-radius: 12px;
        background: linear-gradient(120.7deg, #8881e0 -45.07%, #5b40c7 103.41%);
        button {
            width: 100%;
            background: #ffff;
            border-radius: 90px;
            color: #5b40c7;
            font-weight: 500;
            padding: 11px 0;
            &:hover {
                background: #4a40c6;
                color: white;
                transition: 0.2s;
            }
            &:disabled {
                opacity: 0.5;
            }
        }
        &-name {
            display: block;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 25px;
            &::before {
                content: url("../../../public/images/Без\ названия\ \(3\).svg");
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }

    &__total-title {
        font-size: 18px;
        font-weight: 500;

        display: block;

        margin-bottom: 10px;
    }
    &__details-total {
        margin: 0px 0 23px 0;
        padding: 13px 0;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        border-top: 1px #8f80db solid;
        border-bottom: 1px #8f80db solid;

        > div {
            display: flex;
            justify-content: space-between;
        }
        .total-big {
            font-size: 18px;
            font-weight: 500;
        }
        .total-small {
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__details-total--step-2 {
        .demo__details-total {
            &-total {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    &__details-note {
        display: flex;
        margin-top: 12px;
        font-size: 11px;
        font-weight: 500;
        &::before {
            content: url("../../../public/images/demo__inv-note-image.svg");
            margin-right: 5px;
        }
    }
}
@include mq(phablet, max) {
    .demo {
        margin-top: 80px;
        &__method {
            font-size: 13px;
        }
        &__notification {
            font-size: 14.23px;
            &-text--hidden {
                display: none;
            }
        }
        &__requisites-header {
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
        &__requisites-qrcode {
            width: 100px;
        }
    }
    .main-input-wrapper {
        font-size: 10px;
        input {
            font-size: 12px;
        }
    }
}
@include mq(tablet, max) {
}
@include mq(tablet-wide, max) {
    .demo {
        padding-bottom: 100px;
        &__wrapper {
            flex-direction: column;
            row-gap: 16px;
        }
        &__block-1 {
            order: 2;
        }

        &__block-2 {
            order: 1;
        }
        &__inv-time {
            padding: 10px 0 30px 0;
            background: #8881e0;
            &-title {
                display: none;
                &--alt {
                    display: inline-block;
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
            &-text {
                text-align: center;
                font-weight: 500;
            }
        }
        &__total {
            padding: 18px;
            margin-bottom: -40px;

            position: relative;
            top: -40px;
            &-title {
                display: flex;
                justify-content: space-between;

                font-size: 14px;
            }
        }
        &__details {
            &-total {
                margin-top: 15px;
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
            &-button {
                background: #4a40c6 !important;
                color: white !important;
                &-wrapper {
                    background: #ffff;
                    padding: 16px;

                    width: 100%;
                    position: fixed;
                    left: 0;
                    top: 100%;
                    transform: translate(0, -100%);
                }
            }
            &-note {
                display: none;
            }
        }
        &__transactionDetails,
        &__requisites {
            font-size: 13px;
        }
    }
}
